kivy~=2.1.0
kivy_garden
pillow~=9.4.0
pygments
certifi
cffi
charset_normalizer
colorama
cryptography~=39.0.1
docutils
idna
kivy-deps.angle
kivy-deps.glew
kivy-deps.sdl2
kivymd~=1.1.1
password_strength
plyer~=2.1.0
pyasn1
pycparser
pyperclip
pypiwin32
pypng
pywin32
qrcode~=7.4.2
requests~=2.31.0
rsa~=4.9
six
typing-extensions
urllib3
pandas~=1.5.3
PyAudio~=0.2.13
pyzbar~=0.1.9
numpy~=1.23.5
sympy~=1.11.1
opencv-python~=4.7.0.72
android
sounddevice