kivy
kivy_garden
pillow
pygments
certifi
cffi
charset_normalizer
colorama
cryptography
docutils
idna
kivy-deps.angle
kivy-deps.glew
kivy-deps.sdl2
kivymd
password_strength
plyer
pyasn1
pycparser
pyperclip
pypiwin32
pypng
pywin32
qrcode
requests
rsa
six
typing-extensions
urllib3
